body {
	font-family: 'Noto Sans TC', sans-serif;
	background-color:#00AAFF
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem;
	text-transform: none;
	letter-spacing: -0.05rem;
	color:#FEFF07；
}
div.subheading mb-3 {
	color:#FEFF07；
}

h1 .text-primary {
	font-size: 3rem;
	letter-spacing: -0.05rem;
	line-height: 3rem;
	color:#FEFF07；
}

.bg-primary {
	background-color:#FEFF07!important;
	background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
}

.text-primary {
	color:#FEFF07!important;
}

#sideNav .navbar-nav .nav-item .nav-link {
	text-transform: none;
}
.social-icons a:hover {
  background-color:#9D9E2D;
}
		
a {
	color: #FEFF07;
}

a:link {
	color: #FEFF07;
}

a:hover {
	color:#9D9E2D;
}
.interests-icons {
	color: #FEFF07;
}
.interests-icons i:hover {
	color: #9D9E2D;
}
.skills-icons {
	color:#FEFF07;
}
.skills-icons i:hover {
	color: #9D9E2D;
}
table {
	width:50%       
}
tr:nth-child(even) {
	 background-color:#E6FF00;
}
table:hover{
  font-weight:bold
}
p {
	color: #FEFF07;
}
li {
	color: #FEFF07;
}
.nav-item{
	background-color: #00AAFF;
}
div#container{
	background-color: #343A40;
	padding: 0.5rem;
	height: 80rem;
}
td.child_div{
	font-size: 15px;
}
div#flex_container{
	display: flex;
	justify-content: center;
}

