body {
	font-family: 'Noto Sans TC', sans-serif;
	background-color:#00AAFF
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem;
	text-transform: none;
	letter-spacing: -0.05rem;
	color:#9D3257；
}
div.subheading mb-3 {
	color:#9D3257；
}

h1 .text-primary {
	font-size: 3rem;
	letter-spacing: -0.05rem;
	line-height: 3rem;
	color:#9D3257；
}

.bg-primary {
	background-color:#9D3257!important;
	background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png");
}

.text-primary {
	color:#9D3257!important;
}

#sideNav .navbar-nav .nav-item .nav-link {
	text-transform: none;
}
.social-icons a:hover {
  background-color: #9D3257;
}
		
a {
	color: #9D3257;
}

a:link {
	color: #9D3257;
}

a:hover {
	color:#3d0a09;
}
.interests-icons {
	color: #9D3257;
}
.interests-icons i:hover {
	color: #3d0a09;
}
.skills-icons {
	color: #9D3257;
}
.skills-icons i:hover {
	color: #3d0a09;
}
table {
	width:50%       
}
tr:nth-child(even) {
	 background-color:#E6FF00;
}
table:hover{
  font-weight:bold
}
p {
	color: #9D3257;
}
li {
	color: #9D3257;
}
