body {
	font-family: 'Noto Sans TC', sans-serif;
	background-color:#C74726
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
}

.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem;
	text-transform: none;
	letter-spacing: -0.05rem;
}

h1 .text-primary {
	font-size: 3rem;
	letter-spacing: -0.05rem;
	line-height: 3rem;
}

.bg-primary {
	background-color:#9D3257!important;
	background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
}

.text-primary {
	color:#9D3257!important;
}

#sideNav .navbar-nav .nav-item .nav-link {
	text-transform: none;
}
.social-icons a:hover {
  background-color: #724732;
}
		
a {
	color: #724732;
}

a:link {
	color: #724732;
}

a:hover {
	color:#724732;
}

.interests-icons i:hover {
	color: #724732;
}
	
.skills-icons i:hover {
	color: #724732;
}
table {
	width:50%       
}
tr:nth-child(even) {
	 background-color:#E6FF00;
}
table:hover{
  font-weight:bold
}
